dist
build
bin
target
MANIFEST.MF
/tests/
/.project
/.idea
/coverage/
*.class
*.jar
*.zip
*/target/*
*/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
/.idea/
**/*.iml
build.xml
/.metadata
**/temp_presist_config_*.xml
**/.settings/
**/.classpath/
**/.project/