<div ng-controller="MainController">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">快速预览</a>
        </li>
        <li class="breadcrumb-item active">总览</li>
    </ol>
    <!-- Area Chart Example-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-chart-area"></i>
            实时动态图
        </div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">最后更新时间 2018/12/25 11:59 PM</div>
    </div>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            流水信息 {{now|date:'yyyy-MM-dd hh:mm:ss'}}
        </div>
        <div class="card-body">
            <div class="mt-3" ng-if="$root.data.length>0">
                <h6>总览订单数量: {{$root.data.length}}</h6>
                <h6>订单总额: ￥{{totalAmount}}</h6>
            </div>
            <div class="row mt-5" ng-show="$root.data.length>0">
                <div class="col-md-12" style="overflow-x: scroll;">
                    <table ng-table="$root.tableParams" class="table table-datatable table-striped table-hover">
                        <thead>
                        <tr>
                            <th ng-repeat="column in $root.columns"
                                class="text-left sortable"
                                ng-click="$root.sortTable(column.field)"
                                style="text-align: center;cursor: pointer;">{{column.desc}}

                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="column in $root.columns"
                                class="text-left sortable">
                                <input type="text" class="form-control" ng-if="column.field != 'info'"
                                       dl-enter-key="$root.filterPress()"
                                       ng-model="$root.filter_dict[column.field]"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="targetFoo" ng-repeat="data in $data">

                            <td ng-repeat="column in $root.columns"
                                style="text-align: left;color:black">
                                <div ng-if="'info'!=column.field">
                                    {{data[column.field]}}
                                </div>
                                <button ng-if="'info'== column.field" class="btn btn-default btn-primary"
                                        ng-click="$root.getInfo(data)">Info
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer small text-muted">{{now|date:'yyyy-MM-dd hh:mm:ss'}}</div>
    </div>

</div>